figure {
  margin: 0;
}
.mv {
  width: 100%;
  height: 0;
  padding-top: percentage(805/1920);
  position: relative;
  overflow: hidden;
  figure {
    font-size: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: -1px;
      left: 0;
    }
    figcaption {
      display: inline-block;
      font-size: 1.8vw;
      font-weight: bold;
      position: absolute;
      z-index: 10;
      opacity: 0;
      transition: opacity 1s ease 4s;
    }
    &.active {
      figcaption {
        opacity: 1;
      }
    }
    &.leftToRight {
      figcaption {
        left: 65%;
        top: 4vw;
      }
      &::before,&::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
      }
      &::after {
        left: -2px;
        background: #fff;

      }
      &::before {
        left: -100%;
        background: url('../img/tori_1.png') center no-repeat;
        background-size: contain;
      }
      &.active {
        &::after {
          left: 100%;
          transition: left 3s linear;
        }
        &::before {
          left: 0;
          transition: left 3s linear;
        }
      }
    }
    &.rightToLeft {
      figcaption {
        right: 65%;
        top: 4vw;
      }
      &::before,&::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
      }
      &::after {
        right: -1px;
        background: #fff;
      }
      &::before {
        right: -100%;
        background: url('../img/otoko_1.png') center no-repeat;
        background-size: contain;
      }
      &.active {
        &::after {
          right: 100%;
          transition: right 3s linear;
        }
        &::before {
          right: 0;
          transition: right 3s linear;
        }
      }
    }
    &.centerToCenter {
      background: #fff;
      figcaption {
        left: 65%;
        bottom: 4vw;
      }
      img {
        left: 0;
        top: 0;
      }
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: url('../img/hana_1.png') center no-repeat;
        background-size: 100% auto;
      }
      &.active {
        &::before {
          transform-origin: 50% 50%;
          transform: translate(-50%, -50%) scale(6);
          transition: transform 3s linear;
        }
      }
    }
  }
}