@charset "UTF-8";
/*
Theme Name : HARIMANICS Inc.
Description : ハリマニックス株式会社様専用テーマ。
Version : 0.01
Author: NEOGEO
Author URI: https://neogeo.jp/
*/
/* HarimaNics_orange:#e25449*/
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
/* font-family: "Noto Sans Japanese"; */
@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900');
/* font-family: 'Muli', sans-serif; */
@font-face{font-family:"Yu Gothic"; src:local("Yu Gothic Medium"); font-weight:400;}
@font-face{font-family:"Yu Gothic"; src:local("Yu Gothic Bold"); font-weight:bold;}
html {
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
  font-family:'Muli', /*"Noto Sans Japanese",*/ "Yu Gothic", YuGothic, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-feature-settings:"palt" 1;
  font-feature-settings:"palt" 1;
  font-size:16px;
  min-height:100%;
  line-height:1.8;
  overflow-y:scroll;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  text-align:justify;
  text-justify:inter-ideograph;
}
*, *::before, *::after{
  -webkit-box-sizing:inherit;
  box-sizing:inherit;
  font-family:inherit;
}
body{
  /*max-width:1920px;*/
  margin:0 auto;
  background:repeating-linear-gradient(160deg, #fff, #fff 800px, #f7f8f8 0, #f7f8f8 1400px);
}
body.top{
  background:repeating-linear-gradient(160deg, #fff, #fff 1400px, #f7f8f8 0, #f7f8f8 2500px);
}
body,.counterreset{counter-reset:titleNum;}
article, aside, details, figcaption, figure, footer,header, main, nav, section, summary {
  display:block;
}
code, kbd, pre, samp {font-family:monospace;}
sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
button, input, optgroup, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
input, textarea{
  border: 1px solid;
}
button {
  overflow: visible;
}
button,select {
  text-transform: none;
}
button, [type="button"], [type="reset"], [type="submit"], [role="button"] {
  cursor: pointer;
  -webkit-appearance: button;
}
[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select::-ms-value {
  color: currentColor;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
a{
  color: #e25449;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
h1,h2,h3{margin-top: 0;}
h4,h5,h6{margin: 0;}
h1::first-letter,
.top_service_h2::first-letter{
  color: #e25449;
}
h1{
  border-bottom: 4px solid;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: .05em;
  margin-bottom: 2em;
  text-transform: uppercase;
}
@media screen and (max-width: 380px) {
  h1{
    font-size: 2rem;
  }
}
h1::after{
  content: attr(data-notation);
  display: block;
  font-size: .6em;
  position: relative;
  margin-bottom: -2em;
}
.new_style {
  border-bottom: 0;
  margin-bottom: 0;
}
.new_style::after {
  display: none!important;
}
.new_style a {
  border-bottom: 4px solid #000;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: .05em;
  margin-bottom: 2em;
  text-transform: uppercase;
  color: #000;
}
.new_style a:hover {
  text-decoration: none;
  opacity: 0.8;
}
.new_style a::first-letter {
  color: #e25449;
}
.new_style a::after {
  content: attr(data-notation);
  display: block;
  font-size: .6em;
  position: relative;
  margin-bottom: -2em;
  color: #000;
}
h2{font-size: 1.7rem;}
h3{font-size: 1.5rem;}
h4{font-size: 1.3rem;}
h5{font-size: 1.2rem;}
h6{font-size: 1.1rem;}
img{
  max-width: 100%;
  height: auto;
}
/* Flex系スタイル */
.df{
  display: flex;
  align-items: stretch;
}
.fd-r{-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;}
.fd-rr{-webkit-box-orient: horizontal;-webkit-box-direction: reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse;}
.fw-w{-ms-flex-wrap: wrap;flex-wrap: wrap;}
.jc-c{-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.jc-sb{-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.jc-sa{-ms-flex-pack: distribute;justify-content: space-around;}
.ai-st{-webkit-box-align: stretch;-ms-flex-align: stretch;align-items: stretch;}
.ai-bl{-webkit-box-align: baseline;-ms-flex-align: baseline;align-items: baseline;}
.fg1{flex-grow: 1;}
.fg2{flex-grow: 2;}
/* Flex系スタイルここまで */
/* ヘッダー ロゴ */
header{
  min-height: 50px;
  position: relative;
  left: 0;
  top: 0;
  z-index: 99;
  background: #fff;
  width: 100%;
  /*max-width: 1920px;*/
  /*-webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);*/
}
@media only screen and (max-width: 768px) {
  .ghead {
    -ms-align-items: center;
    align-items: center;
  }
}
header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background: #fff;
  width: 100%;
  /*max-width: 1920px;*/
  /*-webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);*/
}
/*header.fixed .logo{
    position: absolute;
}*/
.logo{
  position: absolute;
  margin: 10px 0 0 10px;
  z-index: 10;
  max-width: calc(100% - 100px);
}
.logo a {
  display: inline-block;
}
@media only screen and (max-width: 767px) {
  /*.logo{
    position: absolute;
  }*/
}
@media only screen and (max-width: 320px) {
  .logo {
    width: 220px;
    height: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
/* ヘッダー ロゴここまで */

/* 全ページ_共通スタイル */
article{
  padding: 0 10px;
}
article,.company_and_news_wrap{
  margin: 8rem auto 0;
  max-width: 1520px;
}
.subject{
  margin: 0 auto 4em;
  max-width: 1120px;
}
li>p{
  margin-top: 0;
}
dd{
  margin-left: 0;
}
/* 基本のスタイル */
.delighter {
  -webkit-transition: all .7s ease-out;
  -o-transition: all .7s ease-out;
  transition: all .7s ease-out;
  opacity: 0;
}

/* スタート時のスタイル */
.delighter.started {
  opacity: 1;
}

/* エンド時のスタイル */
.delighter.started.ended {
}

.invisible{
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0.0;
}
.list_parentheses{
  padding-left:1.5em;
  text-indent: -1.5em;
  margin:0;
}
.list_parentheses li{
  list-style-type:none;
  list-style-position:inside;
  counter-increment: cnt;
}
.list_parentheses li::before{
  display: marker;
  content: "(" counter(cnt) ") ";
}
main {
  min-height: calc(100vh - 400px);
}
.footer {
  height: 50px;
}
section{
  margin: 2em auto;
  max-width: 1120px;
}
.img_wrap > img{
  display: block;
  max-width: 100%;
}
.b1{border: 1px solid;}
.m0a{margin: 0 auto;}
.diamond::before{
  content: "◆ ";
  color: #e25449;
}
.circle::before{
  content: "○ ";
  color: #e25449;
}
.btn{
  background: #000;
  border: 2px solid #000;
  color: #fff;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.btn:hover{
  color: #000;
  background: #fff;
  text-decoration: none;
}


.mv {
  width: 100%;
  height: 0;
  padding-top: 41.92708%;
  position: relative;
  overflow: hidden;
}

.mv figure {
  font-size: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.mv figure img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: -1px;
  left: 0;
}

.mv figure figcaption {
  display: inline-block;
  font-size: 1.8vw;
  font-weight: bold;
  position: absolute;
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 1s ease 4s;
  -moz-transition: opacity 1s ease 4s;
  transition: opacity 1s ease 4s;
}

.mv figure.active figcaption {
  opacity: 1;
}

.mv figure.leftToRight figcaption {
  left: 65%;
  top: 4vw;
}

.mv figure.leftToRight::before, .mv figure.leftToRight::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
}

.mv figure.leftToRight::after {
  left: -2px;
  background: #fff;
}

.mv figure.leftToRight::before {
  left: -100%;
  background: url("../img/tori_1.png") center no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.mv figure.leftToRight.active::after {
  left: 100%;
  -webkit-transition: left 3s linear;
  -moz-transition: left 3s linear;
  transition: left 3s linear;
}

.mv figure.leftToRight.active::before {
  left: 0;
  -webkit-transition: left 3s linear;
  -moz-transition: left 3s linear;
  transition: left 3s linear;
}

.mv figure.rightToLeft figcaption {
  right: 65%;
  top: 4vw;
}

.mv figure.rightToLeft::before, .mv figure.rightToLeft::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
}

.mv figure.rightToLeft::after {
  right: -1px;
  background: #fff;
}

.mv figure.rightToLeft::before {
  right: -100%;
  background: url("../img/otoko_1.png") center no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.mv figure.rightToLeft.active::after {
  right: 100%;
  -webkit-transition: right 3s linear;
  -moz-transition: right 3s linear;
  transition: right 3s linear;
}

.mv figure.rightToLeft.active::before {
  right: 0;
  -webkit-transition: right 3s linear;
  -moz-transition: right 3s linear;
  transition: right 3s linear;
}

.mv figure.centerToCenter {
  background: #fff;
}

.mv figure.centerToCenter figcaption {
  left: 65%;
  bottom: 4vw;
}

.mv figure.centerToCenter img {
  left: 0;
  top: 0;
  opacity: 0;
}

.mv figure.centerToCenter::before {
  position: absolute;
  opacity: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/hana_1.png") center no-repeat;
  -moz-background-size: 100% auto;
       background-size: 100% auto;
}

.mv figure.centerToCenter.active img {
  opacity: 1;
}

.mv figure.centerToCenter.active::before {
  opacity: 1;
  -webkit-transform-origin: 50% 50%;
     -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate(-50%, -50%) scale(6);
     -moz-transform: translate(-50%, -50%) scale(6);
      -ms-transform: translate(-50%, -50%) scale(6);
          transform: translate(-50%, -50%) scale(6);
  -webkit-transition: -webkit-transform 3s linear;
  transition: -webkit-transform 3s linear;
  -moz-transition: transform 3s linear, -moz-transform 3s linear;
  transition: transform 3s linear;
  transition: transform 3s linear, -webkit-transform 3s linear, -moz-transform 3s linear;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup_main {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.popup_main {
  visibility: hidden;
  position: relative;
  -webkit-transform: scale(0.5);
     -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
  padding: 30px 43px 30px 35px;
  text-align: left;
  width: 858px;
  max-width: 90%;
}
.popup_content {
  height: 400px;
  max-height: 100vw;
  overflow-y: scroll;
}
.popup_main .close {
  display: none;
}
.popup_content_map {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.popup_content_map .access {
  width: 400px;
}
.popup_content_map .place {
  width: calc(100% - 420px);
  flex-grow: 0;
  padding: 65px 0 0;
}
@media only screen and (max-width: 768px) {
  .popup_main {
    padding: 2%;
  }
  .popup_content_map {
    height: 300px;
    overflow: scroll;
    display: block;
  }
  .popup_content_map .access {
    width: 100%;
  }
  .popup_content_map .place {
    width: 100%;
    padding: 20px 0 0;
  }
}
/* 全ページ_共通スタイルここまで */

/********************************************/
/* お知らせページ 開始 */
/********************************************/
.news h2{
  border-bottom: 1px solid;
  margin-bottom: 0;
}
.date{
  text-align: right;
  font-size: 80%;
}
.btn_gohome{
  width: 200px;
  letter-spacing: .1em;
  line-height: 2;
  margin-left: auto;
}
/********************************************/
/* お知らせページ 終了 */
/********************************************/
/********************************************/
/* お問い合わせページ 開始 */
/********************************************/
.subject > p > span{
  color: #e25449;
  font-weight: bold;
}
.contactform{
  margin-bottom: 0;
}
.contactform > div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contactform dt{
  width: 12em;
}
.contactform dd{
  margin-bottom: 1em;
  flex-shrink: 0;
  width: calc(100% - 12em);
}
.contactform input,
.contactform textarea{
  width: 100%;
  margin: 0 auto;
  padding-left: .5em;
}
.contactform textarea{
  resize: vertical;
  min-height: calc(5em * 1.8);
}
.count{
  font-size: 11px;
}
.contactaccept_check{
  display: inline-block;
  margin-left: 12em;
}
.contactaccept_check::after{
  content: "";
  width: 2em;
  height: 1em;
  display: inline-block;
}
.privacypolicy{
  font-size: 12px;
}
.btn_submit{
  line-height: 3;
  width: 260px;
  margin-top: 1em;
  margin-left: auto;
  letter-spacing: .3em;
}
@media screen and (max-width: 767px){
  .contactform dd{
    width: 300px;
  }
  .contactaccept_check{
    margin-left: 0;
  }
}
/********************************************/
/* お問い合わせページ 終了 */
/********************************************/

/********************************************/
/* 企業情報ページ 開始 */
/********************************************/
.sign{
  text-align: right;
  font-weight: bold;
}
.vision .inner{
  margin-bottom: 3em;
}
.vision h2,.vision h3{
  margin: 1.2rem 0 .5rem;
  line-height: 1.2;
}
.motto {
  list-style: none;
  padding: 0;
}
.motto dt {
  color: #e25449;
  font-weight: bold;
}
.motto dd{
  margin: 0 0 .5em 1em;
}
.company th{
  vertical-align: top;
}
.company td{
  padding-left: 1em;
}
/* 企業情報テーブル 開始 */
.com-info-tbl th{
  min-width: 6em;
  -moz-text-align-last: justify;
  text-align-last: justify;
}
/* 企業情報テーブル 終了 */
/* 沿革テーブル 開始 */
.history-tbl{width: 1120px;}
@media screen and (max-width: 1150px){
  .history-tbl{
    width: 100%;
  }
}
.history-tbl th{
  width: 12.1em;
}
.y,.m,.era,.era-y{
  display: inline-block;
  text-align: right;
  -ms-text-align-last: auto;
  text-align-last: auto;
}
th>.m{min-width: 2.5em}
th>.era,th>.era-y{min-width: 3em;}
.era::before{
  content: "（";
}
.era-y::after{
  content: "）";
}
/* 沿革テーブル 終了 */
.place.fg1{
  /* max-width: 300px; */
}
.btn_access {
  display: inline-block;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 1;
  margin: 0 0 0 20px;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}
.btn_access_top {
  margin: 0;
}
@media screen and (max-width: 767px){
  .company th,.company td{
    display: block;
    -ms-text-align-last: left;
    text-align-last: left;
  }
  /*アクセス*/
  .vision .fd-r,.access .fd-r{flex-direction: column;}
}
/********************************************/
/* 企業情報ページ 終了 */
/********************************************/

/********************************************/
/* 個人情報保護方針ページ 開始 */
/********************************************/
.privacypolicy h2::before{
  content: "◆ ";
  color: #e25449;
}
.privacypolicy ol,.privacypolicy ul{
  padding-left: 1.5em;
}
/********************************************/
/* 個人情報保護方針ページ 終了 */
/********************************************/

/********************************************/
/* 実績紹介ページ 開始 */
/********************************************/
.category_container{
  margin: 0 -10px 3em;
}
.category_container > a{
  border-bottom: 4px solid;
  color: #000;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 900;
  margin: 1em 13px;
  text-align: center;
  width: 247px;
}
.category_container > a:hover{
  color: #e25449;
  text-decoration: none;
}
@media screen and (max-width: 920px){
  .category_container > a{
    font-size: 1.2em;
    width: 190px;
  }
}
@media screen and (max-width: 670px){
  .category_container > a{
    font-size: 1.1em;
    width: 180px;
  }
}
@media screen and (max-width: 630px){
  .category_container{
    margin: 0 -8px 3em;
  }
  .category_container > a{
    font-size: 1em;
    width: 160px;
    margin: 1em 8px;
  }
}
@media screen and (max-width: 532px){
  .category_container > a{
    font-size: .9em;
    width: 150px;
  }
}
@media screen and (max-width: 374px){
  .category_container{
    margin: 0 -5px 3em;
  }
  .category_container > a{
    width: 140px;
    margin: 1em 5px;
  }
}
.category > ul{
  list-style-type: none;
  padding: 0;
  -webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;
}
.category li{
  border-bottom: 2px solid;
  text-align: center;
  margin-bottom: 1em;
  width: 145px;
}
.category li:not(:nth-child(3n)) {
  margin-right: 51px;
}
.textarea,.imgarea{
  max-width: 48%;
}
.pastwork_container .site::after{
  content: attr(href);
}
.this_case{
  padding-left: 1.2em;
}
.this_case > li > div:nth-child(2){
  margin-left: 1em;
}
.this_case > li > div:last-child{
  margin-bottom: 1.8em;
}
@media screen and (max-width:600px){
  .pastwork_container{flex-direction: column;}
  .textarea,.imgarea{
    max-width: 100%;
  }
}
/********************************************/
/* 実績紹介ページ 終了 */
/********************************************/

/********************************************/
/* サービス部門ページ 開始 */
/********************************************/
.sales_container,
.enginnering_container{
  max-width: 840px;
}
.service ul{
  list-style-type: square;
  padding-left: 1.2em;
}
.sa{
  border-bottom: 2px solid;
  color: #000;
  fill: #000;
  font-weight: bold;
  margin-bottom: 50px;
}
.sa,.si{
  max-width: 240px;
}
.sa:hover{
  color: #e25449;
  fill: #e25449;
  text-decoration: none;
}
.si,.sa>span{
  display: block;
  text-align: center;
}
.salespromotion article:first-of-type::before{
  content: "セールスプロモーション部門";
  width: 14em;
}
.enginnering article::before{
  content: "エンジニアリングソリューション部門";
  width: 17em;
}
.salespromotion article::before,
.enginnering article::before{
  background: #000;
  color: #fff;
  display: block;
  font-weight: bold;
  margin: 1em 0 0;
  text-align: center;
}
.numbering {
  counter-increment: titleNum;
}
.numbering > h3::before,
.numbering > h4::before {
  color: #e25449;
  content: counter(titleNum) ". ";
}
.method{
  width: 232px;
  margin-bottom: 100px;
}
.method.m0{
  margin-bottom: 0;
}
@media screen and (max-width: 500px){
  .method{width: 100%;}
}
.method_title{
  border-bottom: 2px solid;
  font-weight: bold;
}
.method_title.l1{
  padding-bottom: 1.8em;
}
.method svg{
  display: block;
  max-width: 232px;
  margin: 0 auto;
}
.method .marks{
  list-style-type: disc;
  font-feature-settings: "tnum";
}
.star{color:#e25449;}
.kyoka ul{
  margin: 0;
}
/********************************************/
/* サービス部門ページ 終了 */
/********************************************/
/********************************************/
/* 採用情報ページ 開始*/
/********************************************/
.btn_recruit{
  background: #fff;
  color: #000;
  line-height: 5em;
  margin: 1em 0;
  width: 17em;
  min-width: 14em;
}

.btn_recruit:hover{
  border-color: #e25449;
  color: #e25449;
}
@media screen and (max-width: 1000px){
  .btn_recruit{
    margin: 1em auto;
    width: 34%;
  }
}
.recruit section{
  margin-bottom: 5em;
}
.recruit table{
  border-collapse: separate;
  border-spacing:.5em 20px;
}
.recruit th{
  max-width: 10em;
}
.recruit th,.recruit td{
  vertical-align: top;
}
.recruit table p{
  margin-top: 0;
}
.recruit table ul{
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.recruit table li::before{
  content: "◎";
}
.recruit .apply{
  line-height: 3em;
  margin-left: auto;
  width: 260px;
}
@media screen and (max-width: 767px){
  .recruit table{
    border-spacing:0 20px;
  }
  .recruit th{
    max-width: 100%;
  }
  .recruit th,.recruit td{
    display: block;
    -ms-text-align-last: left;
    text-align-last: left;
  }
}
/********************************************/
/* 採用情報ページ 終了*/
/********************************************/

/* TOPページ_共通パーツ */
.btn_viewmore{
  line-height: 2;
  margin: 0 0 0 auto;
  width: 180px;
}
.btn_contact{
  line-height: 3;
  margin: 0 auto;
  width: 220px;
}
/* TOPページ_共通パーツここまで */
/* ヒーローイメージのブロック */
.hero-container{
  position: relative;
  margin:50px 0 100px;
}
@media only screen and (max-width: 769px) {
  .hero-container {
    margin: 0 0 0;
  }
  .mv {
    margin-bottom: 20px;
  }
}
.hero:focus{outline: none;}
.hero_slide{position:relative; width:100%; height:auto;}
.hero_slide::before{
  content:""; display:block;
  padding-top:36.459%;/*幅を100%とした時の縦の割合*/
}
.hero{
  border-bottom: 2px solid #fff;
  overflow: hidden;
  width:100%; height:100%;
  position: absolute;
  top:0; left:0;
  z-index:1;
  -webkit-animation: autoplay 15s infinite;
  animation: autoplay 15s infinite;
  will-change: opacity;
}
.hero1 {animation-delay:0;}
.hero2 {animation-delay:-10s;}
.hero3 {animation-delay:-5s;}
@keyframes autoplay {
0%{opacity:0;}
8%{opacity:1;}
33%{opacity:1;}
33.333%{opacity:0;}
100%{opacity:0;}
}
.hero>img{
  position: relative;
  z-index: 2;
}
.hero_bg{
  background: center center / cover no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-animation: hero_bg_scale 5s linear infinite both;
  animation: hero_bg_scale 5s linear infinite both;
  will-change: transform;
}
.hero1>.hero_bg{background-image: url("../img/hero1_bg.jpg");}
.hero2>.hero_bg{background-image: url("../img/hero2_bg.jpg");}
.hero3>.hero_bg{background-image: url("../img/hero3_bg.jpg?v=2");}
@keyframes hero_bg_scale{
  0%{
    transform: matrix3d(
      1, 0, 0, 0,
      0, 1, 0, 0,
      0, 0, 1, 0,
      0, 0, 0, 1
    );
  }
  100%{
    transform: matrix3d(
      1, 0, 0, 0,
      0, 1, 0, 0,
      0, 0, 1, 0,
      0, 0, 0, 0.9
    );
  }
}
.hero_text{
  display: inline-block;
  font-size: 1.8vw;
  font-weight: bold;
  position: absolute;
  z-index: 3;
  left: 65%;
  top: 4vw;
}
.create-together{
  border-top: 2px solid #fff;
  font-size: 5vw;
  font-weight: 900;
  text-align: center;
  letter-spacing:.1em;
  line-height: 1;
  margin: 50px auto 0;
}
.create-together::first-letter{
  color: #e25449;
}
@media screen and (max-width: 767px){
  .hero_text{
    font-size: 3vw;
    top: 2.5vw;
  }
  .create-together{
    font-size: 6.5vw;
  }
  .create-together{
    margin: 25px auto 0;
  }
}
@media screen and (min-width: 1920px){
  .hero_text{
    top: 2em;
    font-size: 35px;
  }
  .create-together{
    font-size: 100px;
  }
}
/* ヒーローイメージのブロックここまで */
/* スクロールダウンボタン */
.btn_scrolldown{
  animation: calc(5s / 3) infinite scrolldown;
  border-left: 1px solid;
  color: #000;
  display: inline-block;
  font-size: 10px;
  font-weight: 900;
  height: 93px;
  position: absolute;
  right: 5%;
  top: 75%;
  z-index: 8;
  overflow: hidden;
  width: 3.3em;
  line-height: 1;
}
@-webkit-keyframes scrolldown{
  0%{height: 0;}
  100%{height: 93px;}
}
@keyframes scrolldown{
  0%{height: 0;}
  100%{height: 93px;}
}
.btn_scrolldown::after{
  border-left: 1px solid;
  bottom: -3px;
  content: "";
  display: inline-block;
  height: 15px;
  position: absolute;
  right: 27px;
  transform: rotate(45deg);
}
.btn_scrolldown > span{
  text-decoration: none;
  color: inherit;
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  left: -5px;
  top: 18px;
  line-height: 1;
}
@media screen and (max-width: 767px){
  .btn_scrolldown{right: 2%;}
}
@media screen and (max-width: 300px){
  .btn_scrolldown{
    animation: calc(5s / 3) infinite scrolldown;
    height: 7em;
    right: 2px;
    top: 110%;
  }
  @-webkit-keyframes scrolldown{
    0%{height: 0;}
    100%{height: 7em;}
  }
  @keyframes scrolldown{
    0%{height: 0;}
    100%{height: 7em;}
  }
}
/* スクロールダウンボタンここまで */
/* TOPページ_about */
.about_p{font-size: 18px;}
@media screen and (max-width: 1119px){
  .about_h2,.about_p{
    margin: 0 1rem;
  }
}
/* TOPページ_aboutここまで */
/* TOPページ_works */
.works_links > a{
  border-style: solid;
  border-width:0 2px 2px 0;
  color: #000;
  display: inline-block;
  margin: 1em 30px;
}
.works_links img{display: block;}
.top_works_container{
  max-width: 860px;
}
.work {
  position: relative;
  margin: 20px 0;
  max-width: 247px;
  width: 100%;
  color: #fff;
  background-color: #000;
}
@media screen and (max-width: 550px){
  .work{max-width: 48%;}
}
.work * {
  -webkit-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  transition: all .4s ease-in;
}
.work img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}
.work figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
.work figcaption::before,
.work figcaption::after {
  width: 1px;
  height: 0;
}
.work figcaption::before {
  right: 0;
  top: 0;
}
.work figcaption::after {
  left: 0;
  bottom: 0;
}
.work h2,
.work p {
  line-height: 1.5;
}
.work h2 {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: .1em;
  border-bottom: 2px solid;
}
.work p {
  font-size: .6em;
  font-weight: 500;
  margin: 0 0 15px;
}
.work a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.work::before,
.work::after,
.work figcaption::before,
.work figcaption::after {
  position: absolute;
  content: '';
  background-color: #fff;
  z-index: 1;
  transition: all .4s ease-in;
  opacity: .8;
}
.work::before,
.work::after {
  height: 1px;
  width: 0%;
}
.work::before {
  top: 0;
  left: 0;
}
.work::after {
  bottom: 0;
  right: 0;
}
.work:hover img{
  opacity: .4;
}
.work:hover figcaption{
  opacity: 1;
}
.work:hover figcaption::before,
.work:hover figcaption::after{
  height: 100%;
}
.work:hover::before,
.work:hover::after {
  width: 100%;
}
.work:hover::before,
.work:hover::after,
.work:hover figcaption::before,
.work:hover figcaption::after {
  opacity: .1;
}
/* TOPページ_worksここまで */
/* TOPページ_service */
.sales_promotion,.engineering_solution{
  margin: 0 auto 80px;
}
.service_content{
  max-width: 440px;
}
.top_service_h2{
  font-weight: 900;
  letter-spacing: .05em;
  line-height: 1;
}
.top_service_h2 > span{font-size: .6em;}
.sales_promotion > .img_wrap,
.engineering_solution > .img_wrap  {
  position: relative;
  overflow: hidden;
}
.sales_promotion > .img_wrap img ,
.engineering_solution > .img_wrap img {
  position: relative;
  z-index: 1;
   -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.sales_promotion > .img_wrap a:hover img,
.engineering_solution > .img_wrap a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.sales_promotion > .img_wrap::before,
.engineering_solution > .img_wrap::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 2;
  left: -100%;
  transform: scaleX(1);
  transform-origin: right;
  transition: left 1s cubic-bezier(.075,.82,.165,1),transform 1s cubic-bezier(.075,.82,.165,1) 1s;
}
.sales_promotion .service_content > h2,
.sales_promotion .service_content > p,
.engineering_solution .service_content > h2,
.engineering_solution .service_content > p {
  opacity: 0;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.sales_promotion.active .service_content > h2,
.sales_promotion.active .service_content > p,
.engineering_solution.active .service_content > h2,
.engineering_solution.active .service_content > p {
  opacity: 1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: opacity, filter, transform, -webkit-filter, -webkit-transform;
}
.sales_promotion.active > .img_wrap::before,
.engineering_solution.active > .img_wrap::before {
  left: 0;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

@media screen and (max-width: 1110px){
  .sales_promotion > .img_wrap,
  .engineering_solution > .img_wrap{
    max-width: 50%;
  }
}
@media screen and (max-width: 767px){
  .sales_promotion,.engineering_solution{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .service_content{
    max-width: 100%;
    margin-bottom: 1em;
  }
  .sales_promotion > .img_wrap,
  .engineering_solution > .img_wrap{
    max-width: 100%;
  }
}
/* TOPページ_serviceここまで */
/* TOPページ_company */
.company_content{
  max-width: 1111px;
  margin: 0 auto;
}
@media screen and (max-width: 1119px){
  .works .btn_viewmore{
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 767px){
  .company_content{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/* TOPページ_companyここまで */
@media screen and (max-width:1119px){
  .top_company{width: 100%;}
  .company_text{max-width: 100%;}
  .top_news,.contact{width: 100%;}
  .top_news_container{
    margin: 0 auto;
    max-width: 700px;
  }
}
/* TOPページ_news */
.top_news_container{
  max-height: 300px;
  /* overflow-y: scroll; */
}
.top_news_container::-webkit-scrollbar {
  width: 6px;
}
.top_news_container::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}
.top_news_container::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, .5);
  border-radius: 10px;
  -webkit-box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}
/* .news_item:not(:last-child){
  border-bottom: 1px solid;
} */
.news_item{
  padding: 10px 0;
}
.news_date,.news_title{display: inline-block;}
.news_date{
  border: 2px solid;
  font-size: 18px;
  padding: 0 .5em;
  text-align: center;
  line-height: 2;
  width: 8em;
}
.news_title{
  font-size: 16px;
  margin-left: 1em;
  width: calc(100% - 20px * 9);
  vertical-align: middle;
}
.pp_news {
  margin-top: 20px;
}
@media screen and (max-width:767px){
  .news_date{
    display: block;
    font-size: 14px;
  }
  .news_title{
    margin-left: 2.5em;
    width: 90%;
  }
}
@media screen and (max-width:450px){
  .news_date{padding: .1em;}
  .news_title{
    margin-left: 1em;
  }
}
/* TOPページ_newsここまで */
/* TOPページ_contact */
.contact > div{text-align: center;}
.form,.tel{width: 50%;}
.form{border-right:1px solid;}
.telno{
  font-size: 40px;
  margin: 0;
  line-height: 1;
  font-weight: 700;
}
@media screen and (max-width: 767px){
  .contact > .wrap{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form,.tel{
    width: 90%;
    margin: 0 auto;
  }
  .form{
    border-right: none;
    border-bottom: 1px solid;
  }
}

@media screen and (max-width: 330px){
  .telno{font-size: 12vw}
}
.address{
  font-size: 16px;
  font-weight: bold;
  margin-top: 3em;
}
/* TOPページ_contactここまで */

/* 全ページ_ページTOPへ戻るボタン */
#page-top {position:fixed;	bottom:45%;	right:20px;	font-size:77%;	z-index:5;}
#page-top a {background:#333; border-radius:50%;	text-decoration:none;	color:#fff;	width:30px;	padding:5px 0;	text-align:center;	display:block;	opacity:.5;}
#page-top a:hover {	text-decoration: none;	background: #000;}
/* 全ページ_ページTOPへ戻るボタンここまで */

/* Footer*/
.gfoot{margin-top:150px; width: 100%;}
.footer_wrap{
  /*border-top: 4px solid;*/
  margin: 0;
  padding: 80px 0;
  background: #E25449;
  display: block;
  text-align: center;
  width: 100%;
}
.footerlogo{
  max-width: 320px;
  height: auto;
  margin: 0 auto;
}
.footerlogo>img{display: inline-block;}
.footer_wrap small {
  display: inline-block;
  color: #fff;
  margin-bottom: 40px;
}
.footernav{
  width: 100%;
  margin: 0 auto;
}
.footernav ul{
  margin: 0;
  padding: 0;
  display: block;
}
@media screen and (min-width: 768px) {
  .footernav{
    max-width: 420px;
  }
  .footernav ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .footernav ul li {
    width: 25%;
  }  
  .footernav ul li:nth-child(5),
  .footernav ul li:nth-child(6) {
    width: 50%;
  }
}
.footernav .nav-item{list-style:none;}
/*@media screen and (max-width: 1550px){
  .footer_wrap{margin:0 5px;}
}*/
.footernav .nav-item {
  text-align: center;
  display: block;
}
.footernav .nav-item a {
  color: #fff;
  font-size: 16px;
  padding: .5em .2em;
  display: inline-block;
}
.footernav .nav-item a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1119px){
  .footernav{
    width:calc(100% - 200px);
  }
  .footernav .nav-item> a{
    display:block;
    padding:.5em .2em;
  }
}
@media screen and (max-width: 767px){
  .footer_wrap{margin:0; padding: 40px 0px;}
  .footernav{width:100%;}
  /*.footernav .nav-item{width:33%;}*/
  .footernav .nav-item> a{text-align:center;}
  .footer_wrap > small{
    display: block;
    margin: 1em 0 1em auto;
  }
  .footernav .nav-item:last-child {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 319px){
  .footernav .nav-item{width:50%;}
}
@media screen and (max-width: 205px){
  .footernav .nav-item{width:100%;}
}
/* Footerここまで*/

/* ヘッダーナビ・フッターナビ 共通 */
.nav-item a{
  text-decoration: none;
  color:#333;
  font-size:14px;
}
/* ヘッダーナビ・フッターナビ 共通ここまで */

/* extra contact */
.contact_txt {

}
.contact_txt > p {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  position: relative;
}
.contact_txt > p.doc {
  padding: 0 0 0 12px;
}
.contact_txt > p.doc::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background: #000;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 10px;
}
.contact_txt > p span {
  color: #e25449;
}
.contact_txt > h2 {
  overflow: hidden;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 500;
  margin: 40px 0 20px;
}
.contact_txt > h2::after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 100%;
  left: 0.5em;
  margin-right: -100%;
}
.contact_area_b {
  padding: 30px 40px;
  background: #eee;
  font-size: 1em;
  line-height: 1.5;
  margin-top: 25px;
}
.contact_area_b p {
  margin: 0;
}
.contact_area_b ._contact {
  margin-bottom: 30px;
}
.contact_area_b ._contact span {
  display: inline-block;
  margin-right: 15px;
}
.contact_area_b .note {
  text-indent: -16px;
  margin-left: 16px;
}
.contactform {

}
.contactform dt {
  width: 100%;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 500;
  position: relative;
  padding: 0 0 0 65px;
  margin-bottom: 12px;
}
.contactform dt::before {
  position: absolute;
  width: 58px;
  height: 18px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}
.contactform dt.required::before {
  content: '必須';
  background: #e25449;
}
.contactform dt.any::before {
  content: '任意';
  background: #666;
}
.contactform dd {
  width: 100%;
}
.contactform dd input[type="text"],
.contactform dd input[type="email"],
.contactform dd input[type="tel"],
.contactform dd textarea {
  font-size: 1em;
  line-height: 1.5;
  padding: 9px;
}
.contactform dd input[type="checkbox"] {
  width: initial;
}
.contactaccept_check {
  margin-left: 0;
}
.privacypolicy {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}
.btn_service {
  width: 100%;
  max-width: 1120px;
  margin: 50px auto 0;
  justify-content: flex-end;
}
.btn_service a {
  margin: 0;
}
/* end extra contact */